# Gradle files
.gradle/
build/
*bin
# Gradle Wrapper
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties

# Java specific
*.class
*.jar
*.war
*.ear

# macOS
.DS_Store
._*
*-alias
